
<div class="row top-nav">
    <nav class="nav">
        <span>
        </span>

    </nav>
</div>
<nav class="navbar bg-light navbar-light justify-content-between">
    <a class="navbar-brand" href= "/"><img src="assets/images/" alt="logo"></a>
    <button id = "scrape" class="btn btn-outline-success " data-target="#loginModal" type="submit" >Search for new Articles</button>

  </nav>

<div class="container_landing">

    <!-- a Bootstrap row with columns -->
    <div class="row">
        <!-- At large+ or medium screens takes up 2/3 width (8/12) small take full screen 12/12 -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div id = "landingjumbotron" class="jumbotron jumbotron-fluid">

                <p class="text-center"><button id="signup" class="btn btn-outline-success" data-target="#signUpModal" type="submit">Sign Up</button></p>

            </div>
            <!-- sign-up log-in form popup here -->

            
        </div>

    </div>

</div>
<hr>


<!-- <footer >
    <p id="copyright">copy right joboboflow.com ©</p>
</footer> -->

{{!-- <script src="assets/javascript/scrapeControl.js"></script> --}}

<script type = "text/javascript">

</script>

